.space-robot {
    position: fixed;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 2;
    transition: transform 1s ease;
  }
  
  .space-robot.right {
    transform: translateX(95%);
    /* transform: rotate(-360deg); */
  }
  
  .space-robot.left {
    transform: translateX(-95%);
    /* transform: rotate(360deg); */

  }
  
  .space-robot svg {
    width: 100%;
    height: 100%;
    fill: #fff;
  }