/* src/pages/LandingPage/LandingPage.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }
  .logo a{
    color: #FFFFFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0.5vw;
    text-decoration: none;
    font-family: 'Quicksand';
    margin-left: 1rem;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
  .signin-nav-func{
    display: flex;
    padding-right: 25px;
    flex-direction: column;
    margin-right: 15px;
  }
  .question{
    font-family: 'Quicksand';
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 0.6px;
  }
  .links_signup a{
    font-family: 'Quicksand';
    color: #000000;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-decoration: none;
  }
  .centered-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content {
    margin-top: 80px; /* Adjust margin to account for fixed navbar */
  }
  .signin-msg{
   width: 100%;
   font-family: 'Inter';
   font-style: normal;
   font-weight: bold;
   font-size: 60px;
   color: #FFFFFF;
   margin-bottom: 0px;
   margin-top: 0px;
   text-align: center;
}
.signin-sugg{
  margin-top: 5px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
letter-spacing: 0.04em;
color: #FFFFFF;
margin-bottom: 75px;
}
.signin-ggl { 
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 17em;
  height: 3em;
  border-radius: 8px;
  font-size: 20px; 
  border: 0.1em solid #FFFFFF; 
  background: linear-gradient(0deg, #d9d9d9, #d9d9d9), 
    linear-gradient(0deg, #ffffff, #ffffff); 
  box-sizing: border-box;
  margin-bottom: 10px;
  color: #000000;
}
.sgnggl{
  font-size: 1.2em;
}
.gimg{
  height: 2.1em;
  width: 2.1em;
  margin-right: 10%;
}
.or{
  font-family: 'Inter';
  font-weight: bold;
  color: #FFFFFF;
  font-size: 165%;
}
.signin-email{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 17em;
  height: 3em;
  border-radius: 8px; 
  font-size: 20px; 
  border: 0.1em solid #FFFFFF; 
  background: linear-gradient(0deg, #d9d9d9, #d9d9d9), 
    linear-gradient(0deg, #ffffff, #ffffff); 
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 45px;
}
.signin-email::placeholder {
  text-align: center;
  color: #000000; /* Replace with the desired color code */
}
.sub-btn{
  text-align: center;
  color: #FFFFFF;
  background-color: #4A154B;
  width: 17em;
  height: 3em;
  border-radius: 8px;
  font-size: 20px; 
  margin-top: 10px;
  border: none;
}
  /* Add media queries for responsiveness as needed */
  